<!--NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><img src="/images/recphub-logo.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/homewajiha">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Search Recipes</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/create">
                    Create Recipes
                </a>
            </li>
        </ul>
    </div>
    <br>
</nav>

<br />


<div id="div1">
    <div class="bg-light">
        <h1 class="text-center"><strong>Create your Recipe here!</strong></h1>
    </div>

    <form id="todo-form">
        <div class="container">
            <div class=" row">
                <div class="col-10 card-header bg-light"><strong>Recipe Title:</strong>
                    <input class="new-item form-control" type="text" id="title"
                        placeholder='e.g "Pumpkin, halloumi & chilli omelette" ' type="text" />
                </div>
                <div class="col-10 card-header bg-light"><strong>Is it Vegetarian?</strong>
                    <select class="custom-selectnew-item form-control" id="vegetarian">
                        <option selected class="text-2">Yes/No</option>
                        <option value="1">No</option>
                        <option value="2">Yes</option>
                    </select>
                </div>
                <div class="col-10 card-header bg-light"><strong>Prep Time (hh:mm:ss):</strong>
                    <input class="new-item form-control prepTime" type="time" id="prepTime" type="text" required>
                </div>
                <div class="col-10 card-header bg-light"><strong>How many people will it serve?</strong>
                    <input class="new-item form-control servings" type="number" id="servings" placeholder="Servings"
                        type="text" required />
                </div>
                <div class="col-10 card-header bg-light"><strong>Enter Ingredients with quantity</strong>
                    <input class="new-item form-control" placeholder="e.g 2 tsp cider or balsamic vinegar" type="text"
                        id="original" required />
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button" id="addIngred">+</button>
                    </div>

                </div>


            </div>
    </form>
    <br>
</div>
<!--INGREDIENTS TABLE-->
<div class="container bg-light">
    <div class="container">
        <table class="table" id="ingredientsTable">
            <thead class="thead-light bg-light">
                <tr>
                    <th scope="col" id="ingredient">Ingredients</th>
                    <th scope="col">Delete </th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary next" id="next">Next</button>
    </div>

</div>

</div>
<!--Second Create instance after button (next ) is clicked-->
<div class="jumbotron" id="div2">
    <div>
        <h1 class="text-center"><strong>Add Instructions here!</strong></h1>
    </div>

    <div class="container">
        <form role="form">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Steps(add one at a time) " id="instrucStep" />
                <div class="input-group-append">
                    <button class="btn btn-sm btn-primary" type="button" id="add">+</button>
                </div>
                <div>

                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="text-center">
        <button type="button" class="btn btn-primary" id="back">Go Back</button>
        <button type="button" class="btn btn-primary sumbitRecipe" id="sumbitRecipe">Sumbit Recipe</button>

    </div>
    <br>
    <!--INSTRUCTIONS TABLE-->
    <div class="container bg-light">
        <table class="table" id="instructionsTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">instruction step</th>
                    <th scope="col">Delete </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>



</div>