<!--NAVBAR-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="/images/recphub-logo.png" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/homewajiha">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Search Recipes</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="/wajiha">
                    Create Recipes
                </a>
            </li>
        </ul>
    </div>
</nav>

<br />

<div class="jumbotron">
    <div class="container" id="div1">
        <div>
            <h1 class="text-center"><strong>Create your Recipe here!</strong></h1>
        </div>

        <form id="todo-form">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <input class="new-item form-control" type="text" id="prepTime"
                            placeholder="The name of your recipe e.g 'Pumpkin, halloumi & chilli omelette' " type="text"
                            required />
                    </div>
                    <div class="col-10">
                        <select class="custom-selectnew-item form-control" id="">
                            <option selected class="text-2">Vegetarian? (optional)</option>
                            <option value="1">No</option>
                            <option value="2">Yes</option>
                        </select>
                    </div>
                    <div class="col-10">
                        <input class="new-item form-control" type="number" id="prepTime"
                            placeholder="Prep Time (Required)" type="text" required />
                    </div>
                    <div class="col-10">
                        <input class="new-item form-control" placeholder="e.g 2 tsp cider or balsamic vinegar"
                            type="text" id="ingredients" required />
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-primary" type="button" id="addIngred">+</button>
                    </div>


                </div>
        </form>
        <br>
    </div>
    <!--INGREDIENTS TABLE-->
    <div class="container">
        <table class="table" id="ingredientsTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col" id="ingredient">Ingredients</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" id="next">Next</button>
    </div>





</div>
<!--Second Create instance after button (next ) is clicked-->
<div class="jumbotron" id="div2">
    <div>
        <h1 class="text-center"><strong>Add Instructions here!</strong></h1>
    </div>

    <div class="container">
        <form role="form">
            <div class="input-group">
                <input id="instructions" type="text" class="form-control" placeholder="Instruction (1 at a time) " />
                <div class="input-group-append">
                    <button class="btn btn-sm btn-primary" type="button" id="add">+</button>
                </div>
                <div>

                </div>
            </div>
        </form>
    </div>
    <br>
    <div class="text-center">
        <button type="button" class="btn btn-primary" id="back">Go Back</button>
        <button type="button" class="btn btn-primary" id="next">Sumbit Recipe</button>

    </div>
    <br>
    <!--INSTRUCTIONS TABLE-->
    <div class="container">
        <table class="table" id="instructionsTable">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" id="instrucStep">instruction step</th>
                    <th scope="col"> </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>



</div>