<div class="container searchCon" style="background-color;">
  <div class="row">
    <div class="col-md-4 offset-4">
      <!-- Search form -->
      <form class="form-inline active-cyan-4">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
          aria-label="Search">
        <i class="fas fa-search" aria-hidden="true"></i>
      </form>
    </div>
  </div>
</div>
