<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>

<script>


// var title = $("#title").val();

// var objToSend = {
//       title: title,
//       servings: servings,
//       image: image,
//       vegetarian: vegetarian,
//       glutenFree: glutenFree,
//       spoonacularScore: spoonacularScore,
//       sourceUrl: sourceUrl,
//       readyInMinutes: readyInMinutes,
//       userid: 1
//     };

</script>
</html>