body {
  background-color: transparent;
}
.list-group-item {
  line-height: 2.5;
}
.text {
  color: black;
}
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}
/* body {
  background-image: url("../images/bg.jpg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
} */
.text-align {
  text-align: left;
}
img {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
.searchCon {
  position: absolute;
  top:  50%;
  left: 50%;
  transform: translate(-50%,-50%);
}